# Môi trường ảo
venv/

# Thư mục chứa kết quả train/log
work_dir/

# Thư mục mã nguồn thư viện (Nếu bạn cài qua pip thì không nên đẩy lên)
mmdetection/

# Các tệp kết quả ảnh/video
crops/
outputs/

# File tạm của Python
__pycache__/
*.py[cod]